#blur-div {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}


#blur-img {
    display:block;
    width: 600px;
    height: 450px;
    margin: 0 auto;

    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#canvas {
    display:block;
    margin: 0 auto;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: red;
}